In this notebook, we will run various descriptive statistics in regards to our databases to check their consistency and completeness.

# **Preliminary steps**

In [1]:
### We first import the necessary packages

# To manage databases
import numpy as np
import pandas as pd

# To show all columns in our dataframes
pd.set_option('display.max_columns', None)

In [2]:
### We import our databases

%store -r facilities
%store -r licences
%store -r df_departments

# **Facilities**

In [3]:
facilities.isnull().sum()

DepCode                                 0
DepLib                                  0
ComInsee                                0
ComLib                                  0
InsNumeroInstall                        0
InsNom                               2565
EquipementId                            0
EquNom                                  0
EquipementTypeCode                      0
EquipementTypeLib                       0
EquipementFamille                       0
EquipementCateg                         0
GestionTypeProprietairePrincLib      3211
GestionTypeGestionnairePrincLib      4103
GestionTypeProprietaireSecLib      265016
GestionTypeGestionnaireSecLib      291795
EquAnneeService                    115762
NatureSolLib                         4735
NatureLibelle                        3089
EquUtilScolaire                         0
EquUtilClub                             0
EquUtilAutre                            0
EquUtilIndividuel                       0
EquUtilPerformance                      0
EquUtilFormation                        0
EquUtilRecreation                       0
EquDateDernierTravauxReal          246672
EquDateDernierTravauxAucun           2745
EquGPSX                              2656
EquGPSY                              2651
dtype: int64

In [4]:
facilities.nunique()

DepCode                               107
DepLib                                107
ComInsee                            28458
ComLib                              26732
InsNumeroInstall                   139953
InsNom                              77830
EquipementId                       318037
EquNom                             100821
EquipementTypeCode                    163
EquipementTypeLib                     163
EquipementFamille                      30
EquipementCateg                         7
GestionTypeProprietairePrincLib        12
GestionTypeGestionnairePrincLib        12
GestionTypeProprietaireSecLib          12
GestionTypeGestionnaireSecLib          12
EquAnneeService                       203
NatureSolLib                           16
NatureLibelle                           7
EquUtilScolaire                         2
EquUtilClub                             2
EquUtilAutre                            2
EquUtilIndividuel                       2
EquUtilPerformance                      2
EquUtilFormation                        2
EquUtilRecreation                       2
EquDateDernierTravauxReal              64
EquDateDernierTravauxAucun              2
EquGPSX                            220366
EquGPSY                            210679
dtype: int64

There is not much missing data in the columns we are intered in.

# **Licences**

In [5]:
licences.isnull().sum()

code_commune         0
libelle              0
region               0
fed_2019             0
nom_fed              0
                  ...
poph_30_44_2018    333
poph_45_59_2018    333
poph_60_74_2018    333
poph_75_2018       333
DepCode              0
Length: 69, dtype: int64

In [6]:
licences.nunique()

code_commune       34891
libelle            32413
region                18
fed_2019              99
nom_fed               99
                   ...
poph_30_44_2018     1669
poph_45_59_2018     1755
poph_60_74_2018     1555
poph_75_2018        1029
DepCode               97
Length: 69, dtype: int64

There is no missing data in the columns we are interested in.

# **Departments**

In [7]:
df_departments.isnull().sum()

DepCode                             0
DepName                             0
geometry                            0
facilities                          0
licences                            0
population                          0
area                                0
facilities_for_every_licence        0
facilities_for_every_1000_people    0
facilities_by_km²                   0
licences_for_every_people           0
licences_by_km²                     0
dtype: int64

In [8]:
df_departments.describe()

,facilities,licences,population,area,facilities_for_every_licence,facilities_for_every_1000_people,facilities_by_km²,licences_for_every_people,licences_by_km²
count,94.000000,94.000000,9.400000e+01,94.000000,94.000000,94.000000,94.000000,94.000000,9.400000e+01
mean,3279.138298,153333.691489,7.267601e+05,5694.265957,0.026009,6.138168,1340.074366,0.230958,1.000981e+05
std,1521.761632,106323.735363,6.625107e+05,1933.277579,0.009657,2.858726,3715.086326,0.035138,3.721796e+05
min,837.000000,22360.000000,7.660400e+04,105.000000,0.009536,0.669846,144.345020,0.070242,4.327463e+03
25%,2079.000000,69402.250000,3.078570e+05,5185.500000,0.020573,4.618389,350.904993,0.213730,1.203634e+04
50%,2952.500000,118680.000000,5.477335e+05,5964.500000,0.025186,5.923834,541.771422,0.232443,2.057075e+04
75%,3956.500000,223337.000000,8.936722e+05,6775.000000,0.031038,7.184485,775.131502,0.250342,3.864403e+04
max,8534.000000,497217.000000,4.330846e+06,9976.000000,0.070177,21.774536,27628.571429,0.312065,2.897210e+06